FORMAT: 1A
HOST: https://api.icons8.com/

# Icons8

Icons8 allows software developers to embed icons into web services and applications,
as well as desktop tools for software development, rapid prototyping and graphic design. 
Using API is free of charge. Icons are distributed under our [attribution license](http://icons8.com/license/),
[paid license](http://icons8.com/buy/) or custom volume license.

## Icons v3 [/api/iconsets/v3]

### Search Icons [GET /api/iconsets/v3/search?term={term}&amout={amount}&offset={offset}&platform={platform}&language={language}]

+ Parameters
    + term: `home` (string, required) - the name or tag of the icon or any other phrase.
        e.g. use "@home" to find icons with the tag "home" and "=home" to find icons with the name "home"
    + amount (integer, optional) - the maximum number of icons which you'd like to receive
        + Default: 25
    + offset (integer, optional) - the offset from the first received result
        + Default: 0
    + platform (enum[string], optional) - the platform that we are searching icons for
        + Default: `all`
        + Members
            + `all`
            + `ios7`
            + `win8`
            + `win10`
            + `android`
            + `androidL`
            + `color`
            + `office`
    + language: `en-US` (enum[string]) - the language code
        + Members
            + `en-US`
            + `de-DE`
            + `es-ES`
            + `fr-FR`
            + `pt-BR`
            + `pl-PL`
            + `ru-RU`

+ Response 200 (application/json)

        {
          "parameters":{
            "amount":25,
            "term":"home",
            "offset":"",
            "platform":"color",
            "language":"en-US"
          },
          "result":{
            "search":[
              {
                "id":"12229",
                "name":"Home",
                "platform_code":"color",
                "created":"2015-05-21T05:28:59+00:00",
                "url":"\/web-app\/12229\/home",
                "common_icon_id":"72",
                "category":"Very Basic",
                "subcategory":{
                  "name":"Website Sections",
                  "api_code":"website_sections"
                },
                "svg":"<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->\r\n<svg version=\"1.0\"  xmlns=\"http:\/\/www.w3.org\/2000\/svg\" xmlns:xlink=\"http:\/\/www.w3.org\/1999\/xlink\" x=\"0px\" y=\"0px\"\r\n\t viewBox=\"0 0 48 48\" enable-background=\"new 0 0 48 48\" xml:space=\"preserve\">\r\n<polygon fill=\"#E8EAF6\" points=\"42,39 6,39 6,23 24,6 42,23 \"\/>\r\n<g>\r\n\t<polygon fill=\"#C5CAE9\" points=\"39,21 34,16 34,9 39,9 \t\"\/>\r\n\t<rect x=\"6\" y=\"39\" fill=\"#C5CAE9\" width=\"36\" height=\"5\"\/>\r\n<\/g>\r\n<polygon fill=\"#B71C1C\" points=\"24,4.3 4,22.9 6,25.1 24,8.4 42,25.1 44,22.9 \"\/>\r\n<rect x=\"18\" y=\"28\" fill=\"#D84315\" width=\"12\" height=\"16\"\/>\r\n<rect x=\"21\" y=\"17\" fill=\"#01579B\" width=\"6\" height=\"6\"\/>\r\n<path fill=\"#FF8A65\" d=\"M27.5,35.5c-0.3,0-0.5,0.2-0.5,0.5v2c0,0.3,0.2,0.5,0.5,0.5S28,38.3,28,38v-2C28,35.7,27.8,35.5,27.5,35.5z\"\r\n\t\/>\r\n<\/svg>\r\n",
                "vector":{
                  "svg-editable":"https:\/\/api.icons8.com\/download\/960f0573127e8c06565ec6747f5786c1588420ad\/Color\/SVG\/Very_Basic\/home.svg",
                  "svg-simplified":"https:\/\/api.icons8.com\/download\/960f0573127e8c06565ec6747f5786c1588420ad\/Color\/SVG\/Very_Basic\/home.svg",
                  "eps":"https:\/\/api.icons8.com\/download\/7fe0bff5234c5eb173c402be69f8a70d69e9b25e\/Color\/EPS\/Very_Basic\/home.eps",
                  "pdf":"https:\/\/api.icons8.com\/download\/bb835dd368b923ec2af19037de707c946d6f6e71\/Color\/PDF\/Very_Basic\/home.pdf"
                },
                "features":{
                  "bitmap":1,
                  "vector":1,
                  "nolink":1
                },
                "share":{
                  "url":"http:\/\/ic8.link\/12229",
                  "png":[
                    {
                      "link":"https:\/\/maxcdn.icons8.com\/Share\/google\/h\/home.png"
                    },
                    {
                      "type":"twitter",
                      "link":"https:\/\/maxcdn.icons8.com\/Share\/twitter\/h\/home.png"
                    },
                    {
                      "type":"social",
                      "link":"https:\/\/maxcdn.icons8.com\/Share\/social\/h\/home.png"
                    }
                  ]
                }
              }
            ]
          }
        }
        


### List Categories [GET /api/iconsets/v3/categories?platform={platform}&language={language}]

    Note: operation **List Categories** will not return categories, that have less than 10 icons.

+ Parameters
    + platform (enum[string], optional) - the platform that we are searching icons for
        + Default: `all`
        + Members
            + `all`
            + `ios7`
            + `win8`
            + `win10`
            + `android`
            + `androidL`
            + `color`
            + `office`
    + language: `en-US` (enum[string]) - the language code
        + Members
            + `en-US`
            + `de-DE`
            + `es-ES`
            + `fr-FR`
            + `pt-BR`
            + `pl-PL`
            + `ru-RU`

+ Response 200 (application/json)
    + Attributes
        + parameters
            + platform (string)
            + language (string)
        + result
            + categories (array[CategoryItem])
                + (CategoryItem)
                    + name: `Alphabet`
                    + `api_code`: `Alphabet`
                + (CategoryItem)
                    + name: `Very Basic`
                    + `api_code`: `Very_Basic`
                + (CategoryItem)
                    + name: `Photo and Video`
                    + `api_code`: `Photo_Video`

## Tasks [/api/task]

### Create iconic webfont from collection [POST /api/task/create-web-font]

+ Request (application/json)
    + Attributes
        + auth (AuthArgument)
        + task (CollectionWebFontTaskArguments)

+ Response 200 (application/json)
    + Attributes
        + result (TaskResult)
            + id: `abc-def`
            + type: `create_web_font`
            + status: `complete`
            + results
                + zip: `https://st.icons8.com/zip/abc-def/icons8-font.zip`
        + messages (array)
            + (TaskError)
                + code: `paid_feature`
                + description: `Icons "dog", "cat" and 5 more were excluded`
            + (TaskError)
                + code: `not_possible`
                + description: `Icons "dog-color" and "cat-color" were excluded`

































# Data Structures

## AuthArgument (object)
+ hash (string, required) - Authorization hash


## CategoryItem (object)
+ name (string, required)
+ api_code (string, required)

    

## CollectionWebFontTaskArguments (object)
+ arguments
    + collection (string, required) - collection identifier
    + font_name (string, required) - name of iconic webfont
        + Default: `font_icons8`
    + css_prefix (string) - prefix for CSS rules, used to generate LESS/SCSS
        + Default: `icons8`
    + css_selector (string) - template for glyph selector; placeholder {{glyph}} will be replaced with glyph names
        + Default: `.icons8-{{glyph}}`
    + css_rules_case (enum[string]) - glyph names conversion rule
        + Default: `lowercase`
        + Members
            + `lowercase` - convert glyph names to lowercase
            + `as_is` - leave glyph names as is

## TaskError (object)
+ code (enum[string], required) - error code
    + Members
        + `json_not_valid` - HTTP request payload is not valid JSON
        + `auth_required`
        + `auth_failed` - authentication failed
        + `access_denied`
        + `io_fail` - I/O fail on server side
        + `database_fail` - database access fail
        + `argument_is_missed` - required argument 
        + `argument_is_wrong` - one or more arguments is invalid format or value
        + `paid_feature` - some features available only for paid users
        + `not_possible` - something is not possible to process, i.e. color icons for webfonts are forbidden

+ description (string, required) - human readable error message

## TaskResult (object)
+ id (string, required) - task identifier
+ type (enum[string], required) - task type
    + Members
        + `create_web_font`
        + `create_svg_set`
+ status (enum[string], required) - task status
    + Members
        + `preparing+
        + `idle`
        + `in_progress`
        + `timeout`
        + `complete`
        + `failed`
+ description (string) - human readable description
+ results (object)
    + zip (string) - URL to webfont files in ZIP format